.board {
  height: 100%;
  background-color: #333333;
  border-radius: 0.5rem;
  padding: 1rem 0 1rem 0;
  display: flex;
  gap: 1.5rem;
  overflow: auto;
}

@media (min-width: 992px) {
  .board {
    padding: 1rem 1.5rem 2.5rem 1.5rem;
  }
}
