<div class="task-card" (click)="taskClick.emit()">
  <div class="title-row">
    <p class="title">{{ title }}</p>
    <span class="material-icons">edit</span>
  </div>

  <div class="body">
    @if(limitDate) {
    <div class="date">
      <span class="material-icons">calendar_today</span>
      <span class="text">{{ limitDate | date: 'dd/MM' }}</span>
    </div>
    }

    @if(description) {
    <div class="description">
      <span class="material-icons">segment</span>
    </div>
    }
  </div>
</div>
