:host {
  display: block;
  width: 100dvw;
  height: 100dvh;
  background-color: #333333;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
}

.home .header {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 1.5rem;
}

.home .new-task-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  background: #78437F;
  color: #D9D9D9;
  transition: 0.5s;
  width: 100%;
  margin-bottom: 1.5rem;
}

.home .new-task-btn .material-icons {
  font-size: 1rem;
}

.home .new-task-btn:hover {
  opacity: 0.7;
}

.home .search-bar {
  background-color: #D9D9D9;
  border-radius: 0.5rem;
  color: #1E1E1E;
  padding: 0.5rem;
  outline: none;
  width: 100%;
  border: none;
  box-sizing: border-box;
}

.home .content {
  height: 70dvh;
}

@media (min-width: 992px) {
  :host {
    background-color: #1E1E1E;
  }

  .home {
    padding: 1.5rem 3rem;
  }

  .home .new-task-btn {
    width: 18rem;
  }
}
