* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.board::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.board::-webkit-scrollbar-track {
  background: transparent;
}

.board::-webkit-scrollbar-thumb {
  background: #78437F;
  border-radius: 2rem;
}

.board::-webkit-scrollbar-corner {
  background: transparent;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.mat-mdc-snack-bar-container.app-snackbar {
  --mdc-snackbar-container-color: #1E1E1E;
  --mdc-snackbar-supporting-text-color: #D9D9D9;
  --mat-snack-bar-button-color: #D9D9D9;
}

.mat-mdc-snack-bar-container.app-snackbar--success {
  --mdc-snackbar-container-color: #20C35B;
}

.mat-mdc-snack-bar-container.app-snackbar--error {
  --mdc-snackbar-container-color: #CD2E2E;
}

.mat-mdc-snack-bar-container.app-snackbar .mdc-snackbar__label {
  font-size: 0.8rem;
}
