<section class="column">
  <header class="header">
    <span class="title">
      {{ title }}
    </span>
  </header>

  <div class="body">
    <div class="cards">
      <ng-content></ng-content>

      @if(isAdding) {
      <div class="temp-card">
        <input type="text" placeholder="Title" [(ngModel)]="newTitle" (keydown.enter)="confirmAdd()"
          (keydown.escape)="cancelAdding()" />
      </div>
      }
    </div>

    @if(!isAdding) {
    <button class="add-btn" (click)="startAdding()">
      <span class="material-icons">add</span>
      Add
    </button>
    }
  </div>
</section>
